body{
  background:#9C16A8 ;
}

img{
  position: absolute;
width: 213px;
height: 191px;
left: 23px;
top: 12px;
}
.menu1{
  position: absolute;
  width: 278px;
  height: 64px;
  left: 460px;
  top: 79px;

  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;

  color: #74D22A;
}
.menu2{

position: absolute;
width: 148px;
height: 28px;
left: 811px;
top: 82px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;

color: #85D646;
}
.menu3{
  position: absolute;
width: 160px;
height: 17px;
left: 1067px;
top: 79px;

font-family: 'Inconsolata';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 42px;

color: #A5DC30;
}
